@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.footer {
  margin-top: 50px;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  padding: 2rem 0;
}

.logo-footer {
  position: relative;
  width: 250px;
  padding-top: 10px;
  margin-bottom: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;

  padding: 10px 10px 2px 10px !important;
  //border: #c59d77 solid 0.1rem;

  h1 {
    color: #d6ae93;
    font-size: 30px !important;
    margin: 0 !important;
    font-family: 'Borel', cursive;
    font-weight: 500;
    position: relative;
    top: 11px;
  }
  img {
    width: 60px;
  }
  p {
    font-size: 15px !important;
    font-weight: 600;
    color: #d6ae93;
    position: relative;
    bottom: 1px;
  }
}
.footer-nav {
  p {
    color: black !important;
  }

  .menu-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1px;
  }
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;

  padding: 0 1rem;
}

.footer-column {
  text-align: center;
  margin-bottom: 1rem;
  flex-basis: 100%;
}

.footer-column h4 {
  margin: 0.5rem 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 0.7rem 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: #000;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-title {
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
  top: -24px;
}

.footer-logo {
  width: 150px;
}

.footer-icons ul li {
  text-align: center;
}

.footer-icons ul li .location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-icons ul li .location span {
  font-size: 1rem;
  color: #530e0e;
}

.footer-icons ul li .instagram-icon {
  color: #ce5c5c;
}

.footer-icons ul li a:last-child {
  color: #3b5998;
}

.location-icon {
  color: #ff0000;
}

.footer-icons ul li a:hover {
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  margin-top: 1rem;
}

.footer-copyright p {
  margin: 0;
}
.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons ul li svg {
  font-size: 1.5rem; /* Tamaño de iconos igualado */
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 2rem; /* Espaciado adicional entre columnas */
  }
}

@media screen and (min-width: 769px) {
  .footer-logo {
    width: 250px;
  }
  .footer-content {
    flex-wrap: nowrap;
  }

  .footer-column {
    text-align: start;
    flex-basis: auto;
    margin-bottom: 0;
  }
}
