@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/*   color variables */
$clr-primary: #0aaf78;
$clr-primary-hover: #25d366;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

.productos-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 6px;
  width: 100%;
  // height: 100vh !important;
  padding: 6px !important;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px $clr-gray300;
  border-radius: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  width: 100%;
  height: auto;
  padding: 7px;

  &__container__img {
    height: 140px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0 !important;
    font-size: 1.5vmax;
    font-weight: bolder;
    font-family: Oxygen, sans-serif;
  }

  &__price {
    font-size: 1.7vmax;
    margin: 0 !important;
    font-weight: bolder;
  }

  &__info {
    padding: 5px;
  }

  &__description {
    font-size: 12px;
    font-family: Oxygen, sans-serif;
    height: 80px;
    display: none;
  }

  &__details {
    padding: 5px 5px;
    font-family: Oxygen, sans-serif;
    font-weight: bold;
    font-size: 14px;

    color: white;

    background-color: var(--color-brown-500);

    &:hover {
      background-color: var(--color-brown-400);
    }
  }

  &__btn_whatsapp {
    padding: 10px !important;
    font-weight: bold;
    font-size: 15px !important;
    font-family: Oxygen, sans-serif;
    border: none;
    background: transparent;
    color: white;
    transition: background 200ms ease-in, color 200ms ease-in;
    background: $clr-primary-hover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 !important;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__btn_whatsapp:hover {
    background: $clr-primary !important;
    color: white;
  }
  &:hover &__btn {
    background: $clr-primary;
    color: white;
  }
}

.icon-whatsapp {
  font-size: 20px;
  position: relative;
  top: 3px;
  right: -5px;
}

//// MODAL
///
.modal {
  //  top: 60px !important;
}

.modal-header {
  padding: 10px !important;
}

.modal-content {
  max-width: 100%;
  width: 95%;
  max-height: 90vh;
  height: auto;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.modal-image-container {
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
}

.modal-body {
  padding: 0 !important;

  .desc {
    text-align: justify;
    font-size: 14px;
    line-height: 17px;
    margin: 0 !important;
  }

  .price {
    color: #c59d78;
    font-weight: bold;
    font-size: 17px;
  }
}

.modal-body-container {
  margin: 10px !important;
}

.modal-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image retains its aspect ratio */
}

.modal-footer {
  padding: 0 !important;
  margin: 0 10px 20px 10px !important;
}

.modal-footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 !important;
}

.info-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0 15px 0 !important;

  .price {
    text-align: start;
    font-weight: 400;
    font-size: 17px;
    margin: 0 !important;
  }

  .total {
    color: #c59d78;
    font-weight: bold;
    font-size: 17px;
    margin: 0 !important;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 810px) {
  .modal-content {
    max-width: 350px;
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

@media screen and (min-width: 1240px) {
  .productos-home {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 20px;
  }

  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    max-width: 70%;
    padding: 0 !important;
  }

  .card {
    min-height: 240px;

    &__container__img {
      height: 200px;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__title {
      margin: 0 !important;
      font-size: 15px;
      font-weight: bolder;
      font-family: Oxygen, sans-serif;
    }

    &__price {
      font-size: 16px;
      margin: 0 !important;
      font-weight: bolder;
    }

    &__info {
      padding: 5px;
      height: 70px;
    }
  }
}
