.filter {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center !important;
  gap: 20px;
  padding: 0px 0px 5px 17px;
  cursor: pointer;
}

input:focus,
select:focus,
select,
input.form-control:focus {
  outline: none !important;
  outline-width: none !important;
  border-color: rgb(155, 145, 131) !important;
  outline-width: 0 !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  cursor: pointer !important;
}

.filter p {
  font-size: 1.2rem !important;
  text-transform: uppercase;
  font-weight: 500;
}

.filter .button {
  background: #caa07a !important;
}

.data-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  border: 1px solid #c59c76a2;
  color: #c59c76fd;
  padding: 5px;
  max-width: 170px !important;
}

.data-filter span {
  color: #c59c76fd;
}

.data-filter p {
  display: flex;
  color: white;
  gap: 2px;
  font-size: 1rem;
  margin: 0 10px;
}

.data-filter input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.data-filter .icon-close {
  cursor: pointer;
  color: #131212fd;
}

.filter-form {
  display: none;
}

.filter-form label {
  margin-bottom: 2px !important;
  margin-top: 10px !important;
}

.filter-form .button {
  background: #caa07a !important;
}

.filter-form .button:hover {
  background: #b98d67 !important;
}

.filter-form .button-clean {
  background: #686563 !important;
}

.filter-form .button-clean:hover {
  background: #918e8c !important;
}

.modal-filter .button {
  background: #caa07a !important;
}

.modal-filter .button:hover {
  background: #b98d67 !important;
}

.modal-filter .modal-body {
  padding: 10px !important;
}

.modal-filter .modal-body li {
  border: none;
  text-transform: uppercase;
  color: #462d1d !important;
  background-color: #ca9f7aa4 !important;
  margin: 0 !important;
}

.data-filter-container-mobile {
  // padding-left: 7px;
  // padding-block: 10px;
}

.data-filter-container-mobile div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-backdrop {
  z-index: -1 !important;
}

.pills-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;
  gap: 10px;
  padding: 0;
  list-style: none; /* Remueve los puntos de la lista */
}

.pills-container li {
  display: inline-block;
  margin: 0 5px; /* Margen entre los elementos */
  padding: 10px;
}

@media screen and (min-width: 1240px) {
  .filter {
    display: none !important;
  }

  .filter-form {
    display: block;
  }

  .data-filter-container-mobile {
    display: none !important;
  }
  .select-order-container {
    width: 0px !important;
  }
  .select-order {
    display: none !important;
  }
}
