.nosotros-container {
  padding: 20px;
  margin-top: 30px !important;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quienes-somos {
  padding: 20px;
  border-radius: 8px;
  margin: 0 !important;
  // border: rgba(168, 166, 166, 0.253) solid 1px;
}

.quienes-somos h1 {
  color: #c59a72;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.quienes-somos p {
  color: #6d4c41;

  font-size: 16px;
}

.contacto {
  background-color: #3d3b3833;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.contacto h2 {
  color: #6d4c41;
  font-size: 20px;
  margin-bottom: 10px;
}

.map {
  width: calc(100% - 20px);
  // max-width: 300px;
  height: 300px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  color: #c59a72;
  margin-right: 10px;
  font-size: 20px;
}

span {
  color: #6d4c41;
  font-size: 16px;
}

@media (min-width: 1290px) {
  .nosotros-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    gap: 20px;
    max-height: 500px;
  }

  .quienes-somos {
    width: 70%;
    height: 450px;
  }

  .contacto {
    width: 30%;
    height: 450px;
  }

  .contact-info {
    order: 2;
  }
}
